/*
light green - bef992
mid green - 5fb9b0
mid purple - 413d65
dark purple - 2b1f31
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  /* border: 2px solid black; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #413d65;
  transition: all 1s linear;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #413d65;
}

img {
  pointer-events: none;
}


html.has-scroll-smooth {
    overflow: hidden;
    position: absolute;
    height: auto;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    scroll-behavior: smooth;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  z-index: 29;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  transform-origin: center right;
  opacity: 0; 
  transition: opacity 0.5s linear;
  mix-blend-mode: difference;
}
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e6fdcb;
  opacity: 1;
  width: 12px;
  border-radius: 10px;
  margin: 7px;
  cursor: -webkit-grab;
  cursor: grab;
}
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: auto;
  background-color: white;
  overflow: hidden;
}

.cursor {
  pointer-events: none;    
} 

.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}  

circle {
  fill: #e6fdcb;
}

/* preloader */

#loading {
  position: fixed;
  z-index: 99;
  top: 0;
}

#loading .page1 {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: white;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#loading .page1 .p1 {
  font-size: 1.1rem;
  font-weight: 600;
  position: absolute;
  top: 2%;
  color: #2b1f31;
  
}

#loading .page1 .p2 {
  font-size: 1.1rem;
  font-weight: 600;
  position: absolute;
  bottom: 8%;
  /* right: 2.5%; */
  color: #2b1f31;
}

#loading .page1 .p2 span {
  color: #413d65;
  font-style: italic;
}


#loading .page2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #413d65;
  top: 0;
  z-index: 3;
}

#loading .page3 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #bef992;
  top: 0;
  z-index: 2;
}

#loading .loading-contents {
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-35%);
  top: 33%;
}

#loading h1 {
  font-size: 1.8rem;
  color: #2b1f31;
  font-weight: 610;
  /* text-transform: uppercase; */
}

#loading .text-container1 {
  overflow: hidden;
  height: 3em;
  transform: translateY(1em);
  
}

#loading .text-container2 {
  overflow: hidden;
  height: 3em;
  transform: translateY(-1.2em);
}

#loading .letter {
  display: inline-block;
}

#loading .top {
  display: flex;
  gap: 1.5em;
  
}

#loading .top .h11 {
  padding-top: 24px;
  
}

#loading .h12 {
  padding-top: 23px;
  
}



.loading-logo-supercontainer {
  position: relative;
  transform: scale(1.5);
  
}

.loading-logo-container {
  position: relative;
  top: 0;
  
}


.loading-logo-container .logo1 .R {
  position: absolute;
  top: 0.83em;
  left: 2.3em;
}
.loading-logo-container .logo1 svg {
  width: 2em;
  padding: 0;
  cursor: pointer;
}
.loading-logo-container .ashyap-container {
  position: absolute;
  left: 2.15em;
  width: 5.1em;
  height: 1em;
  top: 2.55em;
  overflow: hidden;
}

.loading-logo-container .ashyap-container .ashyap {
  position: absolute;
  top: -1.2em;
  left: 4.5em;
}

.loading-logo-container .ayas-container {
  width: 3.3em;
  height: 1em;
  position: absolute;
  left: 2.2em;
  top: 0.75em;
  overflow: hidden;
}

.loading-logo-container .ayas-container .ayas {
  position: absolute;
  top: -1.15em;
  transform: rotateX(180deg);
  opacity: 0;
}

/* main  */
main {
  width: 100vw;
  overflow: hidden;
}

#js-scroll {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.portrait {
  display: none;
}

/* navbar  */

.navbar-container {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 1em;
  z-index: 25;
  transform: scale(0.9);
  mix-blend-mode: difference;
  display: flex;
}

.navbar-container .navbar-top {
  position: absolute;
  top: 0;
  margin-left: 3.5vw;
  margin-top: 1em;
}

.navbar-top .logo-container {
  position: absolute;
}

.navbar-top .logo-container .logo .R {
  position: absolute;
  top: 0.83em;
  left: 2.3em;
}
.navbar-top .logo-container .logo svg {
  width: 2em;
  padding: 0;
  cursor: pointer;
  color: #e6fdcb;
}
.navbar-top .logo-container .ashyap-container {
  position: absolute;
  left: 2.15em;
  width: 5.1em;
  height: 1em;
  top: 2.55em;
  overflow: hidden;
}

.navbar-top .logo-container .ashyap-container .ashyap {
  position: absolute;
  top: -1.2em;
  left: 4.5em;
  color: #e6fdcb;
  font-weight: 500;
}

.navbar-top .logo-container .ayas-container {
  width: 3.3em;
  height: 1em;
  position: absolute;
  left: 2.2em;
  top: 0.75em;
  overflow: hidden;
}

.navbar-top .logo-container .ayas-container .ayas {
  position: absolute;
  top: -1.15em;
  transform: rotateX(180deg);
  opacity: 0;
  color: #e6fdcb;
  font-weight: 500;
}

.navbar-container .navbar-bottom {
  position: absolute;
  padding: 0;
  top: 5.5em;
  left: 3.5vw;
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 1em;
  row-gap: 1em;
  z-index: inherit;
  overflow: hidden;
}

.navbar-container .navbar-bottom a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e6fdcb;
  font-weight: 510;
  transition: 0.5s;
  font-size: 0.9rem;
}

.navbar-bottom a:hover {
  color: #e07c7c;
}

.navbar-container .navbar-bottom .home {
  grid-column-start: 1;
  grid-column-end: 2;
}

.navbar-container .navbar-bottom .about {
  grid-column-start: 2;
  grid-column-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
}

.navbar-container .navbar-bottom .contact {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.navbar-container .navbar-bottom .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
  grid-column-start: 4;
  grid-column-end: 5;
}

/* home  */

#home-container {
  position: relative;
  width: 100vw;
  height: 225vh;
  top: 0;
  overflow: hidden;
  
}

#home-container .hero-rock-container {
  width: 55vw;
  height: auto;
  z-index: 8;
  position: absolute;
  right: 0px;
  top: 120px;
}

#home-container .hero-rock {
  width: 55vw;
  animation-name: rockmove1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#home-container .hero-text {
  position: absolute;
  font-weight: 600;
  font-size: 11.3vw;
  letter-spacing: -0.02em;
  color: #2b1f31;
  z-index: 2;
  line-height: 0.82em;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 120px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  cursor: context-menu;
}

#home-container .background-rectangle {
  position: absolute;
  background-color: #5fb9b0;
  width: 62vw;
  height: 300em;
  z-index: 1;
  top: -220px;
  left: 0;
  right: 0;
  margin: 0 auto;
  
}

@keyframes rockmove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
  
}

@keyframes rockmove1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
  
}

#home-container .hero-text span {
  color: #413d65;
  letter-spacing: 0.01em;
}

#home-container .rock-front-container {
  width: 48vw;
  z-index: 10;
  position: absolute;
  left: 0px;
  top: 250px;
}

#home-container .rock-front {
  width: 48vw;
  animation-name: rockmove1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

}

#home-container .nav-rock {
  position: absolute;
  z-index: 10;
  left: -30px;
  width: 48vw;
  top: 0px;
  animation-name: rockmove1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

}

#home-container .rock-back {
  position: absolute;
  z-index: 4;
  left: 50px;
  width: 25vw;
  top: 500px;
  animation-name: rockmove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes cloudmove {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(200vw);
  }
}

.cloud {
  position: absolute;
  z-index: 2;
  image-rendering: optimizeSpeed !important;
  transform: translate(0, 0, 1px) !important;
}

.c3 {
  width: 30vw;
  top: 300px;
  left: -30vw;
  animation-name: cloudmove;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.c6 {
  z-index: 5;
  width: 45vw;
  top: 1250px;
  left: -45vw;
  animation-name: cloudmove;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.c6b {
  z-index: 5;
  width: 50vw;
  top: 1300px;
  left: -50vw;
  animation-name: cloudmove;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.c1 {
  z-index: 8;
  width: 65vw;
  top: 650px;
  left: -65vw;
  animation-name: cloudmove;
  animation-duration: 20s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.clouds-container {
  top: 0;
  height: 225vh;
  width: 100vw;
  position: absolute;
  z-index: 15;
  padding: 0;
  margin: 0;
  pointer-events: none;
  transform: translate3d(0, 0, 1px);
  -webkit-transform: translate3d(0, 0, 1px);
}

.ctr {
  width: 85vw;
  bottom: 40px;
  right: 0px;
  transform: translate3d(0, 0, 1px);
  -webkit-transform: translate3d(0, 0, 1px);
}

.ctl {
  width: 65vw;
  bottom: 0px;
  left: 0px;
  transform: translate3d(0, 0, 1px);
  -webkit-transform: translate3d(0, 0, 1px);
}

.ctrb {
  z-index: 2;
  top: 800px;
  width: 75vw;
  right: -200px;
  animation-name: cloudmove;
  animation-duration: 300s;
  animation-timing-function: linear;
}

@keyframes fall {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.fallin-container {
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 12;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

.fallin {
  position: absolute;
  width: 4.5vw;
  top: 47vh;
  left: 47vw;
  animation-name: fall;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  pointer-events: none;
}

/* .speech-bubble {
  position: absolute;
  width: 8vw;
  height: max-content;
  top: 52vh;
  left: 52vw;
  background-color: #413d65;
  border-radius: 1vw;
  display: flex;
}

.speech {
  padding: 0.5vw;
  font-size: 1rem;
  color: #bef992;

} */

#about-container {
  position: relative;
  width: 100vw;
  height: 260vh;
  background-color: white;
  overflow: hidden;
}

#about-container .background-rectangle-1 {
  position: absolute;
  background-color: #5fb9b0;
  width: 62vw;
  height: 60vh;
  z-index: 1;
  top: -15vh;
  left: 0;
  right: 0;
  margin: 0 auto;

}

#about-container .c2 {
  z-index: 8;
  top: 20vh;
  width: 40vw;
  left: -40vw;
  animation-name: cloudmove;
  animation-duration: 30s;
  animation-timing-function: linear;
}

#about-container .c1 {
  z-index: 9;
  top: 80vh;
  width: 45vw;
  left: -45vw;
  animation-name: cloudmove;
  animation-duration: 40s;
  animation-timing-function: linear;
}

#about-container .background-rectangle-2 {
  position: absolute;
  background-color: #5fb9b0;
  width: 62vw;
  height: 15vh;
  z-index: 1;
  top: 50vh;
  left: 0;
  right: 0;
  margin: 0 auto;

}

#about-container .hero-text {
  position: absolute;
  font-weight: 600;
  font-size: 10.5vw;
  color: #2b1f31;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10vh;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  cursor: context-menu;
}

#about-container .hero-text span {
  color: #413d65;
}

#about-container .about-face {
  width: 100vw;
  z-index: 5;
  position: absolute;
  top: -40vh;
  image-rendering: optimizeSpeed;
  /* display: none; */
}

#about-container .text1 {
  position: absolute;
  color: #2b1f31;
  font-size: 3.7vw;
  text-align: right;
  font-weight: 600;
  z-index: 8;
  right: 19vw;
  top: 10%;
}

.text1 .text2 {
  color: #413d65;
}

.highlight {
  animation: none;
  background-color: none;
  background: linear-gradient(90deg, #5fb9b0 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

#about-container .rock-back {
  position: absolute;
  z-index: 1;
  width: 25vw;
  right: 0;
  top: 70vh;
  /* animation: blank 10s linear 0s infinite; */
  /* display: none; */
}

#about-container .bottom-cover {
  position: absolute;
  width: 100vw;
  height: 80vh;
  bottom: 0;
  background-color: #413d65;
  z-index: 6;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  perspective: 1000;
}

@keyframes blank {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1px);
  }
}

.about-rocks-container {
  top: 245vh;
  height: 300vh;
  width: 100vw;
  position: absolute;
  z-index: 15;
  overflow: hidden;
  /* display: none; */
}

.about-rocks {
  position: relative;
  top: 0;
  width: 100vw;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
}

.invis-call {
  position: absolute;
  bottom: 90vh;
  width: 10vw;
}

.invis-call-reverse {
  position: absolute;
  bottom: 120vh;
  width: 10vw;
}

.about-rocks .rock-top {
  position: relative;
  top: 1px;
  width: 100vw;
  height: 250vh;
}

.rock-top .rock-front {
  position: absolute;
  z-index: 8;
  right: 0;
  bottom: 0;
  width: 75vw;
  image-rendering: optimizeSpeed;
  /* animation: blank 10s linear 0s infinite; */
}

.rock-top .rock-falls {
  position: absolute;
  z-index: 7;
  width: 43vw;
  left: 0;
  bottom: 0;
  image-rendering: optimizeSpeed;
  /* animation: blank 10s linear 0s infinite; */
}

.rock-bottom {
  position: relative;
  width: 100vw;
  z-index: 2;
  /* animation: blank 10s linear 0s infinite; */
}

.rock-bottom .underground-cave {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100vw;
  /* animation: blank 10s linear 0s infinite; */
}

.rock-bottom .track-tv {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 2;
  
}

.track-tv .tracks {
  top: 50vh;
  width: 80vw;
  position: absolute;
  z-index: 1;
  /* animation: blank 10s linear 0s infinite; */
}

.track-tv .moving-tvs {
  top: 25vh;
  position: absolute;
  width: 75vw;
  z-index: 2;
  right: -75vw;
}


#works-container {
  top: -1px;
  position: relative;
  width: 100vw;
  height: 300vh;
  background-color: #413d65;
  overflow: hidden;
}

#works-container .hero-text {
  position: absolute;
  font-weight: 600;
  font-size: 10.5vw;
  color: #bef992;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10vh;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  cursor: context-menu;
}

#works-container .water-bottom {
  width: 100vw;
  height: 70vh;
  position: absolute;
  bottom: -50vh;
  background-color: #5fb9b0;
  z-index: 2;
}

#works-container .water-bottom2 {
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 0vh;
  background-color: #5fb9b0;
  z-index: 2;
}

#works-container .rock-top-container {
  position: absolute;
  z-index: 3;
  top: 32vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.rock-top-container .rock-top {
  width: 65vw;
  position: absolute;
  animation-name: rockmove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#works-container .tv-rock-container {
  position: absolute;
  z-index: 4;
  top: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#works-container .rock-back-container {
  width: 100vw;
  position: relative;
  bottom: -50vh;
}

#works-container .rock-back-container .rock-back {
  color:#2b1f31;
  width: 100vw;
  position: absolute;
}

.tv-rock-container .tv-rock {
  width: 65vw;
  position: absolute;
  animation: blank 10s linear 0s infinite;
}

.work_mini {
  background-color: #bef992;
  z-index: 5;
  position: absolute;
  cursor: pointer;
  transition: all 1s ease-in-out;
  animation: blank 10s linear 0s infinite;
}

.work_mini .container-title {
  position: absolute;
  bottom: 0;
  z-index: 3;
  padding-bottom: 0.7vw;
  padding-left: 1vw;
  margin: 0;
  text-transform: uppercase;
  font-size: 2vw;
  transition: all 0.5s ease-in-out;
  color: #2b1f31;
}

.work_mini .arrow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding-top: 1vw;
  padding-right: 1vw;
  width: 2.5vw;
  margin: 0;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}

.work1 {
  top: 3.55vw;
  width: 27.9vw;
  height: 19.2vw;
  left: 38.2vw;
}

.work2 {
  top: 28.14vw;
  width: 27.9vw;
  height: 19.2vw;
  left: 35.8vw;
}

.work3 {
  top: 52.79vw;
  width: 27.9vw;
  height: 19.2vw;
  left: 38.7vw;
}

.work_mini:hover {
  background-color: white !important;
}

.work_mini:hover > .arrow {
  padding: 2vw;
  transform: rotate(180deg);
  filter: invert(70%) sepia(6%) saturate(2553%) hue-rotate(125deg) brightness(124%) contrast(48%);
}

.work_mini:hover > .container-title {
  padding-bottom: 2.2vw;
  padding-left: 2.5vw;
  color: #413d65;
}

.work1-page {
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 30;
  top: 0;
  opacity: 0;
  /* opacity: 1; */
  display: none;
  /* display: grid; */
  transition: all 0.5s linear;
  margin: 0;
  padding: 0;
  grid-template-columns: 30vw 58vw auto;
  column-gap: 4vw;
  overflow: hidden;
}

.left-section {
  padding-left: 2.5vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  height: 100vh;
  overflow: scroll;
}

.project-title-section {
  padding-top: 2vw;
  padding-bottom: 10vw;
  height: max-content;
}

.project-title {
  font-weight: 600;
  font-size: 4.2vw;
  margin: 0;
  color: #2b1f31;
}

.project-content {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-title-section .project-title-heading {
  font-weight: 600;
  padding: 0.1vw 0.3vw;
  /* width: 5.5em; */
  width: max-content;
  font-size: 2rem;
  /* background-image: linear-gradient(to right, #2b1f31, #413d65); */
  background-color: #2b1f31;
  color: #bef992;
  margin: 0;
}

.project-title-section .project-title-text {
  font-size: 1.2rem;
  padding-top: 1em;
  font-weight: 600;
  margin: 0;
  color:#413d65;
}

.project-page .section {
  padding-top: 5vw;
  padding-right: 2vw;
}

.project-page .project-content .section:last-child {
  padding-bottom: 5em;
}

.project-page .section .heading {
  font-weight: 600;
  padding: 0.1em 0.3em;
  /* width: 5.5em; */
  width: max-content;
  font-size: 2rem;
  /* background-image: linear-gradient(to right, #2b1f31, #413d65); */
  background-color: #2b1f31;
  color: #bef992;
  margin: 0;
}

.project-page .section .text {
  font-size: 1.2rem;
  padding-top: 1em;
  font-weight: 600;
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
  color:#413d65;
}

.project-page .section .images {
  width: 80%;
  padding: 1.5em 0 0 0;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  column-gap: 1.5em;
}

.project-page .images img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.project-page .section .v2 {
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.v2 img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.project-page .section .s2 {
  grid-template-columns: 0.65fr 1fr;
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.s2 img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.project-page .section .sub-text {
  width: 80%;
  text-align: center;
  text-transform: uppercase;
}

.project-page .section .sv2 {
  grid-template-columns: 1fr 0.52fr;
  grid-template-rows: auto;
}

.sv2 .right-images img {
  object-fit: contain;
  width: 100%;
}

.sv2 .left-images img {
  object-fit: contain;
  width: 100%;
}

.left-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.7em;
}

.right-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.home-image {
  padding-top: 1.5em;
  width: 80%;
}

.home-image img {
  object-fit: contain;
  width: 100%;
}

.laptop-image {
  width: 80%;
}

.laptop-image img {
  object-fit: contain;
  width: 100%;
}

.sub-text a {
  color: #bef992;
  text-decoration: none;
  background-color: #2b1f31;
  padding: 0vw 0.2vw;
  font-weight: 500;
}

.section .logo-container .logo .R {
  position: absolute;
  top: 0.83em;
  left: 2.3em;
}
.section .logo-container .logo svg {
  width: 2em;
  padding: 0;
  cursor: pointer;
  color: #2b1f31;
}
.section .logo-container .ashyap-container {
  position: absolute;
  left: 2.15em;
  width: 5.1em;
  height: 1em;
  top: 2.55em;
  overflow: hidden;
}

.section .logo-container .ashyap-container .ashyap {
  position: absolute;
  top: -1.2em;
  left: 4.5em;
  color: #2b1f31;
  font-weight: 500;
}

.section .logo-container .ayas-container {
  width: 3.3em;
  height: 1em;
  position: absolute;
  left: 2.2em;
  top: 0.75em;
  overflow: hidden;
}

.section .logo-container .ayas-container .ayas {
  position: absolute;
  top: -1.15em;
  transform: rotateX(180deg);
  opacity: 0;
  color: #2b1f31;
  font-weight: 500;
}


.work2-page {
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 30;
  top: 0;
  opacity: 0;
  display: none;
  transition: all 0.5s linear;
  margin: 0;
  padding: 0;
  grid-template-columns: 30vw 59vw 5vw;
  column-gap: 3vw;
  overflow: hidden;
}

.work3-page {
  position: fixed;
  background-color: white;
  width: 100vw;
  z-index: 30;
  top: 0;
  opacity: 0;
  display: none;
  transition: all 0.5s linear;
  margin: 0;
  padding: 0;
  grid-template-columns: 30vw 59vw 5vw;
  column-gap: 3vw;
  overflow: hidden;
}

.close-button-container {
  top: 1.5vw;
  right: 2.5vw;
  width: 3em;
  position: relative;
  cursor: pointer;
  height: 3em;
  overflow: hidden;
  transform: scale(0.8);
}

.close-button1 {
  background-color: #2b1f31;
  height: 0.3em;
  width: 4em;
  position: absolute;
  bottom: -0.05em;
  right: 0.05em;
  transform-origin: center right;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.close-button2 {
  background-color: #2b1f31;
  height: 3.95em;
  width: 0.3em;
  position: absolute;
  bottom: 0.1em;
  left: 0em;
  transform-origin: bottom center;
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

.close-button3 {
  background-color: #2b1f31;
  height: 0.3em;
  width: 3.95em;
  position: absolute;
  top: 2.8em;
  left: 0em;
  transform-origin: top left;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

.close-button-container:hover > .close-button1 {
  transform: rotate(0deg);
  right: 0em;
  bottom: 0em;
}

.close-button-container:hover > .close-button2 {
  transform: rotate(0deg);
  bottom: 0em;
}

.rock {
  image-rendering: optimizeSpeed !important;
  transform: translate(0, 0, 1px) !important;
}

.work-water-rocks-container {
  top: -2px;
  width: 100vw;
  position: relative;
  z-index: 30;
  height: 100vh;
  background-color: #2b1f31;
  display: flex;
  justify-content: center;
}

#contact-container .water {
  width: 100vw;
  height: 60vh;
  background-color: #5fb9b0;
  position: absolute;
  top: -1px;
  z-index: 1;
  animation: blank 10s linear 0s infinite;
}

#contact-container .left-container {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 50%;
  left: 0;
  
}


#contact-container .tv-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40vw;
}

#contact-container .tv-2 {
  position: absolute;
  bottom: 6vw;
  right: 0;
  width: 30vw;
}

#contact-container .contact-name {
  position: absolute;
  bottom: 19vw;
  right: 4vw;
  z-index: 3;
  transform: rotate(3deg);
  font-size: 2.5vw;
  color: #2b1f31;
}

#contact-container .contact-value {
  position: absolute;
  bottom: 7vw;
  right: 5vw;
  z-index: 3;
  transform: rotate(-3deg);
  font-size: 2.5vw;
  color: #413d65;
}

#contact-container .right-container {
  position: absolute;
  bottom: 10vh;
  z-index: 10;
  width: 50vw;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.right-container .contact-text {
  color: #bef992;
  font-size: 3.7vw;
  text-align: right;
  font-weight: 600;
  z-index: 8;
  width: max-content;
  padding: 0;
  padding-left: 1em;
  /* border: 2px solid white; */
  gap: 0;
  margin: 0;
}

.right-container ul {
  width: max-content;
  padding-left: 7vw;
  /* border: 2px solid white; */
}

.right-container ul li{
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 4vw;
  height: 4vw;
  margin: 1vw 0 0 1.7vw;
  overflow: hidden;
}
.right-container ul li a{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  background: #2b1f31;
  font-size: 3vw;
  line-height: 3vw;
  transform: translateY(0);
  transition: .9s;
  margin-bottom: -1px;
  color: #5fb9b0;
}
.right-container ul li:hover a{
  transform: translateY(-100%);
}
.right-container ul li:hover a{
  /* background: #413d65; */
  color:#bef992
}


.work-water-rocks-container .rock-front {
  color: #2b1f31;
  width: 100vw;
}

.work-water-rocks-container .svg-container {
  width: 100vw;
  z-index: 7;
  animation: blank 10s linear 0s infinite;
}

.work-water-rocks-container .svg-container svg {
  width: 100vw;
}


.work-water-rocks-container .hero-text {
  position: absolute;
  font-weight: 600;
  font-size: 10.5vw;
  color: #bef992;
  z-index: 6;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10vh;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  cursor: context-menu;
}

.footer {
  color:#bef992;
  text-align: right;
  font-size: 1.3vw;
  transform: translateX(-19vw) translateY(10px);
  cursor: context-menu;
}

.waves {
  z-index: 5;
  position: absolute;
  height: 7vh;
  top: -3.5vh;
}

@media (orientation: portrait) {
  .landscape {
    display: none;
  }

  .cursor {
    display: none;
  }

  .portrait {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 999;
    background-color: white;
  }

  .portrait h1 {
    padding: 10vw;
    font-weight: 600;
    font-size: 7vw;
    color: #2b1f31;
  }
}