/*
light green - bef992
mid green - 5fb9b0
mid purple - 413d65
dark purple - 2b1f31
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: absolute;
    height: auto;
    width: 100vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    scroll-behavior: smooth;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  transform-origin: center right;
  opacity: 0; 
  transition: opacity 0.5s linear;
  mix-blend-mode: difference;
}
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e6fdcb;
  opacity: 1;
  width: 12px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: auto;
  background-color: white;
  overflow: hidden;
}

/* preloader */

#loading {
  position: fixed;
  z-index: 99;
  top: 0;
}

#loading .page1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#loading .page1 .p1 {
  font-size: 1.1rem;
  font-weight: 600;
  position: absolute;
  top: 2%;
  color: #2b1f31;
  
}

#loading .page1 .p2 {
  font-size: 1.1rem;
  font-weight: 600;
  position: absolute;
  bottom: 8%;
  /* right: 2.5%; */
  color: #2b1f31;
}

#loading .page1 .p2 span {
  color: #413d65;
  font-style: italic;
}


#loading .page2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #413d65;
  top: 0;
  z-index: 3;
}

#loading .page3 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #bef992;
  top: 0;
  z-index: 2;
}

#loading .loading-contents {
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(-35%);
  top: 33%;
}

#loading h1 {
  font-size: 1.8rem;
  color: #2b1f31;
  font-weight: 610;
  /* text-transform: uppercase; */
}

#loading .text-container1 {
  overflow: hidden;
  height: 3em;
  transform: translateY(1em);
  
}

#loading .text-container2 {
  overflow: hidden;
  height: 3em;
  transform: translateY(-1.2em);
}

#loading .letter {
  display: inline-block;
}

#loading .top {
  display: flex;
  gap: 1.5em;
  
}

#loading .top .h11 {
  padding-top: 24px;
  
}

#loading .h12 {
  padding-top: 23px;
  
}



.loading-logo-supercontainer {
  position: relative;
  transform: scale(1.5);
  
}

.loading-logo-container {
  position: relative;
  top: 0;
  
}


.loading-logo-container .logo1 .R {
  position: absolute;
  top: 0.83em;
  left: 2.3em;
}
.loading-logo-container .logo1 svg {
  width: 2em;
  padding: 0;
  cursor: pointer;
}
.loading-logo-container .ashyap-container {
  position: absolute;
  left: 2.15em;
  width: 5.1em;
  height: 1em;
  top: 2.55em;
  overflow: hidden;
}

.loading-logo-container .ashyap-container .ashyap {
  position: absolute;
  top: -1.2em;
  left: 4.5em;
}

.loading-logo-container .ayas-container {
  width: 3.3em;
  height: 1em;
  position: absolute;
  left: 2.2em;
  top: 0.75em;
  overflow: hidden;
}

.loading-logo-container .ayas-container .ayas {
  position: absolute;
  top: -1.15em;
  transform: rotateX(180deg);
  opacity: 0;
}

/* main  */

#js-scroll {
  position: absolute;
  width: 100vw;
  top: 0;
}

/* navbar  */

.navbar-container {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 1em;
  z-index: 25;
  transform: scale(0.9);
  mix-blend-mode: difference;
  display: flex;
}

.navbar-container .navbar-top {
  position: absolute;
  top: 0;
  margin-left: 3.5em;
  margin-top: 1em;
}

.navbar-top .logo-container {
  position: absolute;
}

.navbar-top .logo-container .logo .R {
  position: absolute;
  top: 0.83em;
  left: 2.3em;
}
.navbar-top .logo-container .logo svg {
  width: 2em;
  padding: 0;
  cursor: pointer;
  color: #e6fdcb;
}
.navbar-top .logo-container .ashyap-container {
  position: absolute;
  left: 2.15em;
  width: 5.1em;
  height: 1em;
  top: 2.55em;
  overflow: hidden;
}

.navbar-top .logo-container .ashyap-container .ashyap {
  position: absolute;
  top: -1.2em;
  left: 4.5em;
  color: #e6fdcb;
  font-weight: 500;
}

.navbar-top .logo-container .ayas-container {
  width: 3.3em;
  height: 1em;
  position: absolute;
  left: 2.2em;
  top: 0.75em;
  overflow: hidden;
}

.navbar-top .logo-container .ayas-container .ayas {
  position: absolute;
  top: -1.15em;
  transform: rotateX(180deg);
  opacity: 0;
  color: #e6fdcb;
  font-weight: 500;
}

.navbar-container .navbar-bottom {
  position: absolute;
  padding: 0;
  top: 5.5em;
  left: 3.5em;
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 1em;
  row-gap: 1em;
  z-index: inherit;
  overflow: hidden;
}

.navbar-container .navbar-bottom a {
  text-decoration: none;
  text-transform: uppercase;
  color: #e6fdcb;
  font-weight: 510;
  transition: 0.5s;
  font-size: 0.9rem;
}

.navbar-bottom a:hover {
  color: #e07c7c;
}

.navbar-container .navbar-bottom .home {
  grid-column-start: 1;
  grid-column-end: 2;
}

.navbar-container .navbar-bottom .about {
  grid-column-start: 2;
  grid-column-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
}

.navbar-container .navbar-bottom .contact {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.navbar-container .navbar-bottom .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: right;
  grid-column-start: 4;
  grid-column-end: 5;
}

/* home  */

#home-container {
  position: relative;
  width: 100%;
  height: 225vh;
  top: 0;
  overflow: hidden;
}

#home-container .hero-rock-container {
  width: auto;
  height: auto;
  z-index: 8;
  position: absolute;
  right: 0px;
  top: -10px;
}

#home-container .hero-rock {
  width: 55vw;
  animation-name: rockmove1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#home-container .hero-text {
  position: absolute;
  font-weight: 600;
  font-size: 11.3vw;
  letter-spacing: -0.02em;
  color: #2b1f31;
  z-index: 2;
  line-height: 0.82em;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 120px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#home-container .background-rectangle {
  position: absolute;
  background-color: #5fb9b0;
  width: 62vw;
  height: 300em;
  z-index: 1;
  top: -220px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@keyframes rockmove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
  
}

@keyframes rockmove1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
  
}

#home-container .hero-text span {
  color: #413d65;
  letter-spacing: 0.01em;
}

#home-container .rock-front {
  position: absolute;
  z-index: 10;
  left: 0px;
  width: 48vw;
  top: 250px;
}

#home-container .nav-rock {
  position: absolute;
  z-index: 10;
  left: -30px;
  width: 48vw;
  top: 0px;
  animation-name: rockmove1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#home-container .rock-back {
  position: absolute;
  z-index: 4;
  left: 50px;
  width: 25vw;
  top: 500px;
  animation-name: rockmove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes cloudmove {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(170vw);
  }
}

.cloud {
  position: absolute;
  z-index: 2;
}

.c3 {
  width: 30vw;
  top: 300px;
  left: -30vw;
  animation-name: cloudmove;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.c6 {
  z-index: 5;
  width: 45vw;
  top: 1250px;
  left: -45vw;
  animation-name: cloudmove;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.c6b {
  z-index: 5;
  width: 50vw;
  top: 1300px;
  left: -50vw;
  animation-name: cloudmove;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.c1 {
  z-index: 8;
  width: 65vw;
  top: 650px;
  left: -65vw;
  animation-name: cloudmove;
  animation-duration: 20s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.clouds-container {
  top: 0;
  height: 225vh;
  width: 100vw;
  position: absolute;
  z-index: 15;
  padding: 0;
  margin: 0;
}

.ctr {
  width: 85vw;
  bottom: 40px;
  right: -50px;
}

.ctl {
  width: 65vw;
  bottom: 0px;
  left: 0px;
}

.ctrb {
  z-index: 2;
  top: 800px;
  width: 75vw;
  right: -200px;
  animation-name: cloudmove;
  animation-duration: 300s;
  animation-timing-function: linear;
}

@keyframes fall {
  0% {
    top: 0px;
  }
  50% {
    top: -20px
  }
  100% {
    top: 0px;
  }
}

.fallin-container {
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 12;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.fallin {
  position: absolute;
  width: 4.5vw;
  animation-name: fall;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#about-container {
  position: relative;
  width: 100vw;
  height: 260vh;
  background-color: white;
  overflow: hidden;
}

#about-container .background-rectangle-1 {
  position: absolute;
  background-color: #5fb9b0;
  width: 62vw;
  height: 60vh;
  z-index: 1;
  top: -10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#about-container .c2 {
  z-index: 8;
  top: 20vh;
  width: 40vw;
  left: -40vw;
  animation-name: cloudmove;
  animation-duration: 30s;
  animation-timing-function: linear;
}

#about-container .c1 {
  z-index: 9;
  top: 80vh;
  width: 45vw;
  left: -45vw;
  animation-name: cloudmove;
  animation-duration: 40s;
  animation-timing-function: linear;
}

#about-container .background-rectangle-2 {
  position: absolute;
  background-color: #5fb9b0;
  width: 62vw;
  height: 15vh;
  z-index: 1;
  top: 50vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#about-container .hero-text {
  position: absolute;
  font-weight: 600;
  font-size: 10.5vw;
  color: #2b1f31;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10vh;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#about-container .hero-text span {
  color: #413d65;
}

#about-container .about-face {
  width: 100vw;
  z-index: 5;
  position: absolute;
  top: -40vh;
  transform: translate3d(0,0,1px);
  -webkit-transform: translate3d(0,0,1px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  image-rendering: optimizeSpeed;
}

#about-container .text1 {
  position: absolute;
  color: #2b1f31;
  font-size: 3.7rem;
  text-align: right;
  font-weight: 600;
  z-index: 8;
  right: 19vw;
  top: 30vh;
}

.text1 .text2 {
  color: #413d65;
}

.highlight {
  animation: none;
  background-color: none;
  background: linear-gradient(90deg, #5fb9b0 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

#about-container .rock-back {
  position: absolute;
  z-index: 1;
  width: 25vw;
  right: 0;
  top: 50em;
  transform: translate3d(0,0,1px);
  -webkit-transform: translate3d(0,0,1px);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  image-rendering: optimizeSpeed;
  
}

#about-container .bottom-cover {
  position: absolute;
  width: 100vw;
  height: 80vh;
  bottom: 0;
  background-color: #413d65;
  z-index: 6;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.about-rocks-container {
  top: 245vh;
  height: 300vh;
  width: 100vw;
  position: absolute;
  z-index: 15;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.about-rocks {
  position: relative;
  top: 0;
  width: 100vw;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
}

.about-rocks .rock-top {
  position: relative;
  width: 100vw;
  height: 250vh;
}

.rock-top .rock-front {
  position: absolute;
  z-index: 8;
  right: 0;
  bottom: 0;
  width: 75vw;
  image-rendering: optimizeSpeed;
}

.rock-top .rock-falls {
  position: absolute;
  z-index: 7;
  width: 43vw;
  left: 0;
  bottom: 0;
  image-rendering: optimizeSpeed;
}

.rock-bottom {
  position: relative;
  width: 100vw;
  z-index: 2;
}

.rock-bottom .underground-cave {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100vw;
}

.rock-bottom .track-tv {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.track-tv .tracks {
  top: 50vh;
  width: 80vw;
  position: absolute;
  z-index: 1;
}

.track-tv .moving-tvs {
  top: 25vh;
  position: absolute;
  width: 75vw;
  z-index: 2;
  right: -75vw;
}


#works-container {
  position: relative;
  width: 100vw;
  height: 350vh;
  background-color: #413d65;
}

#works-container .hero-text {
  position: absolute;
  font-weight: 600;
  font-size: 10.5vw;
  color: #bef992;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0vh;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#works-container .rock-top-container {
  position: absolute;
  z-index: 3;
  top: 32vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.rock-top-container .rock-top {
  width: 65vw;
  position: absolute;
  animation-name: rockmove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#works-container .tv-rock-container {
  position: absolute;
  z-index: 4;
  top: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.tv-rock-container .tv-rock {
  width: 65vw;
  position: absolute;
}











@media screen and (max-width: 768px) {
  .navbar-container {
    display: none;
  }

  .c-scrollbar {
    display: none;
  } 

  .loading-logo-supercontainer {
    transform: scale(1.2) translateY(0.1em) translateX(-0.5em);
  }

  #loading .page1 .p2 {
    padding: 0 3em;
    font-weight: 700;
  }

  #loading .page1 .p2 span{
    font-weight: 600;
  }

  #loading .page1 .p1 {
    font-weight: 700;
  }

  #loading .h11 {
    font-size: 1.7rem;
  }

  #loading .h12 {
    font-size: 1.7rem;
  }

  #home-container {
    height: 100vh;
  }

  .hero-rock-container {
    top: 21%;
  }

  .hero-rock {
    width: 80vw;
  }

  .background-rectangle {
    top: -20%;
    width: 80vw;
  }

  .hero-text {
    top: 25%;
    font-size: 14vw;
  }

  .nav-rock {
    width: 90vw;
  }

  .rock-back {
    width: 40vw;
    left: 8%;
  }

  .rock-front {
    width: 60vw;
    top: 45%;
  }
}